
#menu, #admin_menu{
	text-align: center;
	margin: 25px 0px;
	min-width: 880px;
}

	.menu_item:first-child{
		border-left: solid 1px black;
	}

	.menu_item{

		text-align: center;
		display: inline-block;
		width: 165px;
		height:50px;

		border-right: solid 1px black;
		border-collapse: collapse;
	}

	.menu_item:hover{
		cursor:pointer;
		background-color: rgba(120,150,170,0.5);
	}

	.active_menu{
		background-color: rgba(120,150,170,1);
	}

		.menu_item>div{
			padding-top: 15px;
			-webkit-touch-callout: none;
			-webkit-user-select: none; 
			-khtml-user-select: none; 
			-moz-user-select: none; 
			-ms-user-select: none;
			-o-user-select: none; 
			user-select: none; 
		}
		
#message{
	padding: 10px;
	margin: 10px auto;
	text-align: center;
	background-color: rgb(200,200,200);

}