body{
	padding:50px 10%;
    font-family: 'Open Sans', sans-serif;
    min-width: 900px;
    background:  rgb(88,108,128);
    color: white;
}

b{
	font-weight: bold;
}

.info{
	margin-left: 2px;
	width:15px;
	height: 15px;
	position:relative;
	/*top:2px;*/

}

/*
#middle{
	font-family: "Open Sans", "sans-serif";
	font-style: normal;
	font-weight: 300;
	margin: 50px auto;
	width: 1000px;
}
*/

	#banner{
		padding: 10px 50px;
	    font-size: 36px;
	    border-bottom: 1px solid rgba(200,200,200,1);
	    font-family: 'Abel', sans-serif;
	}

	#message{
		padding: 10px;
		margin: 10px auto;
		text-align: center;
		background-color: rgb(200,200,200);
		color: black;
		font-size: 20px;

	}

	#left, #right {
		display:inline-block;
		height: 100%;
	}

	#left {
		width:24%;
		text-align: center;
		/*padding-right: 10px;*/
		background: white;
		color: black;
		border: 1px solide white;
		border-radius: 5px;
		margin-right: 1%;
	}

		#input_tools{
			padding-top: 25px;
			height: 300px;
		}
			.list_item {
				width:125px;
			}

			.list_name {
				display: inline-block;
				text-align: right;
				width:125px;
				font-size: 12px;
			}

			#list_input > div {
				margin-bottom:10px;
			}

			#submit, #restart {
				margin-top: 10px;
				/*margin-left: 25%;*/
			}

		#output_tools{
			border-top: 1px solid rgb(70,70,70);
			padding-top: 25px;
			padding-bottom: 25px;
			font-size: 12px;
		}

			#output_tools>label{
				line-height: 25px;
			}

			#raw_data{
				width:15px;
				height:15px;
				position: relative;
				top: 2px;
			}

			#user_email{
				width:90%;
			}


	#right {
		float:right;
		width:75%;
		vertical-align: top;
		text-align: center;
		color: black;
	}
		
		#leaflet{
			height:300px;
			width: 100%;
			border: 1px solid rgba(255,255,255,1);
			border-radius: 5px;
		}

			iframe{
				height:300px;
				width: 750px;
			}

		#data{
			padding:15px;

		}

			#date_input {

			}

			#data_table{
				/*width:99%;*/
				/*overflow:scroll;*/
			}

			#data_selection {
				overflow:auto;
				
			}
				#data_table {
						width:100%;
						font-size: 12px;
					}

					.c_sub, .row_header{
						text-align: left;
					}

					.s_cb, .col_header {
						text-align: center;
					}

					.s_cb {
						background-color: rgb(138,163,185);
					}

					.s_fill {
						background: repeating-linear-gradient(
						  -45deg,
						  rgb(88,108,128),
						  rgb(88,108,128) 5px,
						  rgb(138,163,185) 5px,
						  rgb(138,163,185) 10px
						);
					}

					#data_table_paginate{
						color:black;
					}


				.row_header{
					width:150px;
				}
		
		#loading{
			margin-top:150px;
			background: rgba(0,0,0,0);
		}


		#confirm_loading{
			text-align: center;
			margin: 100px;
		}